textarea{
    resize: none;
    vertical-align: middle;
}

.notes-table{
    border-collapse: collapse;
    width:80%;
    margin:25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.notes-table thead tr {
    background-color: #009879;
    color:#ffffff;
    text-align: left;
}

.notes-table th, 
.notes-table td {
    padding: 12px 15px;
}

.notes-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.notes-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.notes-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

td[colspan="2"] {
    text-align: center;
}

.completed-task {
    text-decoration: line-through;
    color: #db3545;
  }